<!-- Page Content
  ================================================== -->
<div class="row">

  <!-- Gallery Items
  ================================================== -->
  <div class="span12 gallery-single">
    <ul id="filterOptions" class="gallery-cats clearfix">
      <li class="active" style="font-size:14px;" ><a href="<%= Pathname(home_index_path) %>" class="home">Trang chủ</a></li>
      <li style="font-size:14px;"><a href="<%= Pathname(home_gallery_path) %>" class="gallery.htm">Gallery</a></li>
      <li style="font-size:14px;"><%= @Picture.name %></li>

    </ul>
    <div class="row">
      <div class="span6">
        <img src="<%= @Picture.image %>" class="align-left thumbnail" alt="image">
      </div>
      <div class="span6">
        <h2><%= @Picture.name %></h2>


        <ul class="project-info">
          <li><h6>Tác giả:</h6><%= @Picture.author %>  </li>
          <li><h6>Năm hoàn thành:</h6><%= @Picture.date %></li>

        </ul>
        <p class="lead"><%= @Picture.intro %></p>

        <a href="<%= Pathname(home_gallery_path) %>" class="pull-right"><i class="icon-arrow-left"></i>Back to Gallery</a>
      </div>
    </div>

  </div><!-- End gallery-single-->

</div><!-- End container row -->

</div> <!-- End Container -->