
<div class="row headline"><!-- Begin Headline -->

  <!-- Slider Carousel
 ================================================== -->
  <div class="span8">

    <div>
      <ul>
        <li style="list-style-type: none;"> <%= link_to home_detailnews_path(@FeatureNews.id) do %> <img src="<%=image_path(@FeatureNews.image)%>" alt="image_news_updating" style="width: 745px;height: 343px;"/><% end %> </li>
      </ul>
    </div>
  </div>

  <!-- Headline Text
  ================================================== -->
  <div class="span4">
    <h3><%= @FeatureNews.title %></h3>
    <p style="font-weight: 200;font-size: 21px;line-height: 28px;">
      <%=@FeatureNews.description %>
    </p>
    <a href="<%= Pathname(home_detailnews_path(@FeatureNews.id)) %>"><i class="icon-plus-sign"></i>Chi tiết</a>
  </div>
</div><!-- End Headline -->

<div class="row gallery-row"><!-- Begin Gallery Row -->

  <div class="span12">
    <h5 class="title-bg" style="color:blue;"> Những bức tranh vẽ nổi bật:
      <a class="btn btn-mini btn-inverse hidden-phone pull-right" href="<%= Pathname(home_gallery_path) %>" >Xem Gallery</a>
    </h5>

    <!-- Gallery Thumbnails
    ================================================== -->

    <div class="row clearfix no-margin">
      <ul class="gallery-post-grid holder">

        <!-- Gallery Item 1 -->
        <% @FeaturePaint.each do |item| %>
        <li  class="span3 gallery-item" data-id="id-1" data-type="illustration">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="<%= item.image %>" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                              <%= link_to home_gallery_single_path(item.id) do %> <img src="<%=image_path(item.image)%>" alt="Gallery" /><% end %>

                            </span>
                        </span>
          <%= link_to home_gallery_single_path(item.id) do %> <img src="<%=image_path(item.image)%>" alt="Gallery"  /><% end %>
          <span class="project-details"><%= link_to home_gallery_single_path(item.id) do %><%= item.name %><% end %>
            <%= item.author %></span>
        </li>
        <% end %>

      </ul>
    </div>
  </div>

</div><!-- End Gallery Row -->

<div class="row"><!-- Begin Bottom Section -->

  <!-- Blog Preview
  ================================================== -->
  <div class="span6">
    <h5 class="title-bg" style="color:blue;">Tin tức
    </h5>
        <!-- Blog Item 1 -->
    <div class="active item">
          <a href="<%= Pathname(home_detailnews_path(@LimitNews.id)) %>" style="float: left"><img src="<%=image_path(@LimitNews.image)%>" alt="" class="align-left blog-thumb-preview" style="float:left; width: 300px;height: 138px;"/></a>
          <div class="post-info clearfix" style="float:left; width: 250px;">
            <h4><a href="<%= Pathname(home_detailnews_path(@LimitNews.id)) %>"><%= @LimitNews.title %></a></h4>
            <ul style="margin: 0px 0px 10px 0px;">
              <li><i class="icon-calendar"></i><strong>Ngày đăng:</strong><%= @LimitNews.created_at %></li>
              <li><i class="icon-user"></i><strong>Người đăng:</strong> <a><%= @LimitNews.author %></a></li>
            </ul>
          </div>
        </div>
    <div style="clear:both; font-size: 14px;" class="lead"><%= @LimitNews.description %></div>
  </div>

  <!-- Client Area
  ================================================== -->
  <div class="span6">

    <h5 class="title-bg" style="color:blue;">
      Tiểu sử về các thành viên trong nhóm
    </h5>

    <!-- Client Testimonial Slider-->
    <div id="clientCarousel" class="carousel slide no-margin">
      <!-- Carousel items -->
      <div class="carousel-inner">

        <div class="active item">
          <p class="quote-text">"Nhóm chúng tôi được thành lập lên từ những thành viên có chung một ý tưởng muốn đóng góp gì đó để phổ biến kiến thức nghệ thuật nhân loại đến tất cả mọi người. Chúng tôi hy vọng các bạn hãy cảm nhận những bức vẽ nghệ thuật bằng cả trái tim mình"<cite>- AIW Team - The Art Story -</cite><a href="<%= Pathname(home_about_path) %>">Chi tiết</a> </p>
        </div>
      </div>
    </div>



  </div>

</div><!-- End Bottom Section -->

</div> <!-- End Container -->