
<!-- Page Content
    ================================================== -->

<!-- Title Header -->
<div class="row">
  <div class="span12">
    <ul id="filterOptions" class="gallery-cats clearfix">
      <li class="active" style="font-size:14px;"><a href="<%= Pathname(home_index_path) %>" class="home">Trang chủ</a></li>
      <li style="font-size:14px;" >Tin tức</li>

    </ul>
    <!-- Carousel
    ================================================== -->
    <div class="row">
      <div class="span6">
        <div>
          <ul>
            <li style="list-style-type: none;"> <%= link_to home_detailnews_path(@FeatureNews.id) do %> <img src="<%=image_path(@FeatureNews.image)%>" alt="image_news_updating" style="width: 570px;height: 263px;"/><% end %> </li>
          </ul>
        </div>
      </div>

      <div class="span6">
        <h5><%= @FeatureNews.title %></h5>
        <p><%= @FeatureNews.description %></p>

        <%= link_to 'Chi tiết', home_detailnews_path(@FeatureNews.id), class: "btn btn-small btn-inverse pull-left"%>
      </div>

    </div>

    <h3 class="title-bg">Tin tức về các hoạt động nghệ thuật</h3>


  </div>
</div>

</div> <!-- End Container -->