<!-- Footer Area
       ================================================== -->

<div class="footer-container"><!-- Begin Footer -->
  <div class="container">
    <div class="row footer-row">
      <div class="span3 footer-col">
        <h5>Về chúng tôi</h5>
        <img src="<%=image_path("theartstory.png")%>" alt="Famous Paints Profile" style="margin-left:-11px;" /><br /><br />
        <address>
          <strong>AIW Team</strong><br />
          Đại học Hà Nội<br />
          <br />
        </address>
        <ul class="social-icons">
          <li><a href="https://facebook.com/" target="_blank" class="social-icon facebook"></a></li>
          <li><a href="http://twitter.com/" target="_blank" class="social-icon twitter"></a></li>
          <li><a href="https://rss.com/" target="_blank" class="social-icon rss"></a></li>
        </ul>
      </div>
      <div class="span3 footer-col">
        <h5>Liên hệ</h5>
        <ul style="font-size:12px;">
          <li style="margin-top:30px;">
            <div style="width:21px;display:inline;"><img src="<%=image_path("icon_adddress.png")%>" alt="address" style="margin-right:3px;"/> </div>
            <div style="width:240px;display:inline;float:right;">Km9, Đường Nguyễn Trãi, Quận Thanh Xuân, Hà Nội, Việt Nam</div>
          </li>
          <li style="margin-top:30px;">
            <div style="width:21px;display:inline;"><img src="<%=image_path("icon_iphone_telephone.png")%>" alt="phone" style="margin-right:3px;"/></div>
            <div style="width:240px;display:inline;float:right;">01692816684</div>
          </li>
          <li style="margin-top:10px;">
            <div style="width:21px;display:inline;"><img src="<%=image_path("icon_gmail.png")%>" alt="mail" style="margin-right:3px;"/></div>
            <div style="width:240px;display:inline;float:right;">aiw_team_2014@gmail.com</div>
          </li>
        </ul>
      </div>
      <div class="span3 footer-col">
        <h5>Mục đích</h5>
        <ul class="post-list" style="font-size:12px;">
          <li><a >Giới thiệu những bức ảnh nổi tiếng</a></li>
          <li><a >Cung cấp kiến thức về nghệ thuật</a></li>
          <li><a >Kết nối mọi người đến với nghệ thuật</a></li>


        </ul>
      </div>
      <div class="span3 footer-col">
        <h5>Flickr Photos</h5>
        <ul class="img-feed">
          <li><a><img src="<%=image_path("flickr_1.jpg")%>" alt="Image Feed"/></a></li>
          <li><a ><img src="<%=image_path("flickr_2.jpg")%>" alt="Image Feed"/></a></li>
          <li><a><img src="<%=image_path("flickr_3.jpg")%>" alt="Image Feed"/></a></li>
          <li><a><img src="<%=image_path("flickr_4.jpg")%>" alt="Image Feed"/></a></li>
          <li><a><img src="<%=image_path("flickr_5.jpg")%>" alt="Image Feed"/></a></li>
          <li><a><img src="<%=image_path("flickr_6.jpg")%>" alt="Image Feed"/></a></li>
          <li><a><img src="<%=image_path("flickr_7.jpg")%>" alt="Image Feed"/></a></li>
          <li><a><img src="<%=image_path("flickr_8.jpg")%>" alt="Image Feed"/></a></li>
          <li><a><img src="<%=image_path("flickr_9.jpg")%>" alt="Image Feed"/></a></li>
          <li><a><img src="<%=image_path("flickr_10.jpg")%>" alt="Image Feed"/></a></li>
          <li><a><img src="<%=image_path("flickr_11.jpg")%>" alt="Image Feed"/></a></li>
          <li><a><img src="<%=image_path("flickr_12.jpg")%>" alt="Image Feed"/></a></li>
        </ul>
      </div>
    </div>

    <div class="row"><!-- Begin Sub Footer -->
      <div class="span12 footer-col footer-sub">
        <div class="row no-margin">
          <div class="span6"><span class="left">Copyright 2014 AIW Team - The Art Story. All rights reserved.</span></div>
          <div class="span6">
                            <span class="right">
                            <a href="<%= Pathname(home_index_path) %>">Trang chủ</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="<%= Pathname(home_news_path) %>">Tin tức</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="<%= Pathname(home_gallery_path) %>">Gallery</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="<%= Pathname(home_contact_path) %>">Liên hệ</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="<%= Pathname(home_about_path) %>">Giới thệu</a>
                            </span>
          </div>
        </div>
      </div>
    </div><!-- End Sub Footer -->

  </div>
</div><!-- End Footer -->

<!-- Scroll to Top -->
<div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>