<!-- Footer Area
       ================================================== -->

<div class="footer-container"><!-- Begin Footer -->
  <div class="container">
    <div class="row footer-row">
      <div class="span3 footer-col">
        <h5>Giới thiệu</h5>
        <img src="<%=image_path("famouspaintsProfile-footer-logo.png")%>" alt="Piccolo" style="margin-left:-11px;" /><br /><br />
        <address>
          <strong>AIW Team</strong><br />
          Lớp 3C-11<br />
          Khoa công nghệ thông tin
          <br />Đại học Hà Nội<br />
        </address>
        <ul class="social-icons">
          <li><a href="#" class="social-icon facebook"></a></li>
          <li><a href="#" class="social-icon twitter"></a></li>
          <li><a href="#" class="social-icon rss"></a></li>
        </ul>
      </div>
      <div class="span3 footer-col">
        <h5>Liên hệ</h5>
        <ul style="font-size:12px;">
          <li style="margin-top:30px;">
            <div style="width:21px;display:inline;"><img src="<%=image_path("icon_adddress.png")%>" alt="address" style="margin-right:3px;"/> </div>
            <div style="width:240px;display:inline;float:right;">Km9 Road, đường Nguyễn Trãi, quận Thanh Xuân, Hà Nội </div>
          </li>
          <li style="margin-top:30px;">
            <div style="width:21px;display:inline;"><img src="<%=image_path("icon_iphone_telephone.png")%>" alt="phone" style="margin-right:3px;"/></div>
            <div style="width:240px;display:inline;float:right;">0995888005</div>
          </li>
          <li style="margin-top:10px;">
            <div style="width:21px;display:inline;"><img src="<%=image_path("icon_gmail.png")%>" alt="mail" style="margin-right:3px;"/></div>
            <div style="width:240px;display:inline;float:right;">phamluanhanu2010@gmail.com</div>
          </li>
        </ul>
      </div>

      <div class="span3 footer-col">
        <h5>Flickr Photos</h5>
        <ul class="img-feed">
          <li><a href="#"><img src="<%=image_path("flickr-img-1.jpg")%>" alt="Image Feed"/></a></li>
          <li><a href="#"><img src="<%=image_path("flickr-img-1.jpg")%>" alt="Image Feed"/></a></li>
          <li><a href="#"><img src="<%=image_path("flickr-img-1.jpg")%>" alt="Image Feed"/></a></li>
          <li><a href="#"><img src="<%=image_path("flickr-img-1.jpg")%>" alt="Image Feed"/></a></li>
          <li><a href="#"><img src="<%=image_path("flickr-img-1.jpg")%>" alt="Image Feed"/></a></li>
          <li><a href="#"><img src="<%=image_path("flickr-img-1.jpg")%>" alt="Image Feed"/></a></li>
          <li><a href="#"><img src="<%=image_path("flickr-img-1.jpg")%>" alt="Image Feed"/></a></li>
          <li><a href="#"><img src="<%=image_path("flickr-img-1.jpg")%>" alt="Image Feed"/></a></li>
          <li><a href="#"><img src="<%=image_path("flickr-img-1.jpg")%>" alt="Image Feed"/></a></li>

        </ul>
      </div>
    </div>

    <div class="row"><!-- Begin Sub Footer -->
      <div class="span12 footer-col footer-sub">
        <div class="row no-margin">
          <div class="span6"><span class="left">Copyright 2014 AIW Team - The Art Story. All rights reserved.</span></div>
          <div class="span6">
                            <span class="right">
                            <a href="index.htm">Trang chủ</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="news.htm">Tin tức</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="gallery.htm">Gallery</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="contact.htm">Liên hệ</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="about.htm">Giới thiệu</a>
                            </span>
          </div>
        </div>
      </div>
    </div><!-- End Sub Footer -->

  </div>
</div><!-- End Footer -->

<!-- Scroll to Top -->
<div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>