<div class="row header"><!-- Begin Header -->

  <!-- Logo
  ================================================== -->
  <div class="span5 logo">
    <a href="<%= Pathname(home_index_path)%>"><img src="<%=image_path("theartstory.png")%>"/></a><br/>
    <h5 style="margin-left: 15px;margin-top: 2px;">****** &nbsp;&nbsp;&nbsp; Hãy cảm nhận bằng trái tim &nbsp;&nbsp;&nbsp;******</h5><br/>
  </div>

  <!-- Main Navigation
  ================================================== -->

  <div class="span7 navigation">
    <div class="navbar hidden-phone">

      <ul class="nav">
        <li >
          <a href="<%= Pathname(home_index_path)%>" >Trang chủ</a>
        </li>

        <li >
          <a href="<%= Pathname(home_news_path)%>" >Tin tức</a>
        </li>

        <li >
          <a href="<%= Pathname(home_gallery_path)%>">Gallery</a>
        </li>
        <li >
          <a href="<%= Pathname(home_contact_path)%>" >Liên hệ</a>
        </li>
        <li >
          <a href="<%= Pathname(home_about_path)%>" >Giới thiệu</a>
        </li>
      </ul>

    </div>

    <!-- Mobile Nav
    ================================================== -->
    <form action="#" id="mobile-nav" class="visible-phone">
      <div class="mobile-nav-select">
        <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
          <option value="">Navigate...</option>
          <option value="<%= Pathname(home_index_path)%>">Trang chủ</option>
          <option value=" <%= Pathname(home_news_path)%>">Tin tức</option>
          <option value="<%= Pathname(home_gallery_path)%>">Gallery</option>
          <option value="<%= Pathname(home_contact_path)%>">Liên hệ</option>
          <option value="<%= Pathname(home_about_path)%>">Giới thiệu</option>

        </select>
      </div>
    </form>

  </div>

</div><!-- End Header -->