<div class="row header"><!-- Begin Header -->

  <!-- Logo
  ================================================== -->
  <div class="span5 logo">
    <a href="index.htm"><img src="<%=image_path("famouspaintsProfile-logo.png")%>"/></a><br/>
    <h5 style="margin-left: 15px;margin-top: 2px;">...........................Hãy cảm nhận bằng trái tim</h5><br/>
  </div>

  <!-- Main Navigation
  ================================================== -->
  <div class="span7 navigation">
    <div class="navbar hidden-phone">

      <ul class="nav">
        <li>
          <%= link_to home_index_path do %>
              Trang chủ
          <% end %>
        </li>
        <li>
        <li >
          <%= link_to 'Tin tức', home_news_path %>
        </li>
        </li>
        <li >
          <%= link_to 'Gallery', home_gallery_path %>
        </li>
        <li>
          <%= link_to 'Liên hệ', home_contact_path %>
        </li>
        <li>
          <%= link_to 'Giới thiệu', home_about_path %>
        </li>
      </ul>

    </div>

    <!-- Mobile Nav
    ================================================== -->
    <form action="#" id="mobile-nav" class="visible-phone">
      <div class="mobile-nav-select">
        <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
          <option value="">Navigate...</option>
          <option value="home_index_path">Trang chủ</option>
          <option value="home_news_path">Tin tức</option>
          <option value="home_gallery_path">Gallery</option>
          <option value="home_contact_path">Liên hệ</option>
          <option value="home_about_path">Giới thiệu</option>
        </select>
      </div>
    </form>

  </div>

</div><!-- End Header -->